
{% extends 'forms.html' %}

{% block head %}

<body class="bg-dark">





    <div class="container mr-5 p-5 text-white col-5" style="margin-top: 60px; margin-left: 500px;">
     <div class="form-group ml-3">
         {% if messages %}
         <div class="messages">
             {% for message in error %}
             <li class="alert alert-danger">{{ message }}</li>
             {% endfor %}
         </div>
     {% endif %}

    </div>


<h4>
Congratulations!!!! Your password has been sucessfully recovered.You can clicl here to <a href="{% url 'signin' %}">login</a>

</h4>
</body>

{% endblock %}