
{% extends 'forms.html' %}

{% block head %}

<body class="bg-dark">





    <div class="container mr-5 p-5 text-white col-5" style="margin-top: 60px; margin-left: 500px;">
     <div class="form-group ml-3">
         {% if messages %}
         <div class="messages">
             {% for message in error %}
             <li class="alert alert-danger">{{ message }}</li>
             {% endfor %}
         </div>
     {% endif %}

    </div>




<form method="post" action="">
 {% csrf_token %}

    {{ form.as_table }}


    <div class="col-md-5">
        <button type="submit" value="Reset Password" class="btn btn-primary ml-2 mt-3 rounded-pill"><strong>Reset Passsword</strong></button>
    </div>


</form>
</div>
</body>

{% endblock %}